<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head.ejs %>
    </head>
    <body>
    <header>
        <%- include ../partials/header.ejs %>
    </header>
      <div class="container">  
   <h1>About Us</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti excepturi, eaque in necessitatibus facilis aut doloribus rerum sequi voluptate expedita, tempore possimus nihil quas, quasi deleniti consequuntur nisi unde. Temporibus?</p>
   <ul>
       <li>lorem</li>
       <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae similique dolorum quo aliquid possimus perferendis, laudantium distinctio laborum ab. Repellendus officia, rem quaerat porro atque labore, totam cumque sapiente eaque.</li>
       <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat magnam vel asperiores itaque ea amet nihil, voluptas quam consequatur. Sapiente at fugiat dicta recusandae minima tempore laudantium. Ut qui, tempore.</li>
   </ul>
   </div>
    </body>
    <footer>
        <%- include ../partials/footer.ejs %> 
    </footer>
</html>