<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head.ejs %>
    </head>
    <body>
    <header>
        <%- include ../partials/header.ejs %>
    </header>
        
    <div class="jumbotron">
        <div class="container">
            <h1>How may I help you?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur necessitatibus, maiores consequuntur dolore, minima expedita, qui repudiandae quasi incidunt quod voluptatem aspernatur atque, minus excepturi fuga deserunt recusandae? Nostrum.</p>
            <a href="#" class="btn btn-primary btn-lg"> Learn More &raquo;</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi incidunt nulla ratione quos ducimus sit, commodi dignissimos provident, a obcaecati. Nesciunt fugit iure quos est sapiente error explicabo quaerat ex.</p>
                <a href="#" class="btn btn-default btn-lg">View Details</a>
            </div>
            <div class="col-md-4">
                <h2>Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi incidunt nulla ratione quos ducimus sit, commodi dignissimos provident, a obcaecati. Nesciunt fugit iure quos est sapiente error explicabo quaerat ex.</p>
                <a href="#" class="btn btn-default btn-lg">View Details</a>
            </div>
            <div class="col-md-4">
                <h2>Get in Touch</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi incidunt nulla ratione quos ducimus sit, commodi dignissimos provident, a obcaecati. Nesciunt fugit iure quos est sapiente error explicabo quaerat ex.</p>
                <a href="#" class="btn btn-default btn-lg">View Details</a>
            </div>
        </div>
    </div>
    </body>
    <footer>
        <%- include ../partials/footer.ejs %> 
    </footer>
</html>