<html>
	<head>
	<%- include ../partials/head.ejs %>
	</head> 
	<body>

		<%- include ../partials/header.ejs %>

<div class="container">
	<h1>Members Area</h1>
	<p>Welcome to the members area</p></div>











	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>