<div class="container">
  <img src="\images\nodejs.png" alt="logo" class="logo">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/add">Add Post</a></li>
      <li><a href="/categories/add">Add Category</a></li>
    </ul>
  </nav>
</div>
